@import   "vars.less";

.agency-overview-wrapper {
    position: fixed;
    top: 236px;
    width: ~"calc(100% - 30px)";
    height: ~"calc(100% - 275px)";

    .scroll-wrapper {
      overflow-x: scroll;
      height: ~"calc(100% - 54px)";
    }

    .button-wrapper {
      margin: 0 -15px 0 -15px;

      &.sml {
        margin: 0 -15px 15px -15px;

        .btn {
          font-size: 12px;
          padding: 5px 10px;
        }
      }

      &.agents-select,
      &.license-select {
        display: none;
      }

      .dropdown-toggle {
        color: white;
        background: @base-blue;

        &:hover {
          background: darken(@base-blue, 5%);
        }
      }

      .dropdown-menu {
        padding: 0;

        a {
          &.dropdown-item {
            color: @secondary-grey;
            font-size: 12px;
            padding: 5px 10px;

            &:first-child {
              -webkit-border-top-left-radius: 2px;
              -webkit-border-top-right-radius: 2px;
              -moz-border-radius-topleft: 2px;
              -moz-border-radius-topright: 2px;
              border-top-left-radius: 2px;
              border-top-right-radius: 2px;
            }

            &:hover {
              background: rgba(0,0,0,.05);
            }
          }
        }
      }
    }
  }

  .agency-wrapper {
    position: fixed;
    margin: -15px 0 0 0;

    .toggle-wrapper {
      position: fixed;
      left: 15px;
      width: 220px;
      height: ~"calc(100% - 329px)";
      overflow: scroll;
      z-index: 10;

      small {
        cursor: pointer;
        text-transform: uppercase;
        color: @secondary-grey;
        font-size: 12px;
        letter-spacing: 1px;
        display: block;
        width: 100%;
        margin: 0 0 5px 0;

        &.open {
          color: @base-blue;
        }
      }

      i {
        &.visual-icon {
          margin: 3px 16px 0 0;
        }
      }

      p {
        font-size: 12px;
        line-height: 12px;
        margin: 0 0 10px 0;
      }

      .states {
        margin: 0 0 20px 0;
      }

      .states,
      .policies {

        &:hover {
          small {
            color: @base-blue;
          }
        }

        ul {
          background: white;
          max-height: 400px;
          overflow-y: scroll;
          list-style: none;
          margin: 0;
          padding: 15px;
          border-radius: 2px;
          border: 1px solid darken(@lite-grey, 5%);
          font-size: 12px;

          li {
            margin: 0 0 10px 0;
            border-bottom: 1px solid @lite-grey;

            &:last-child {
              margin: 0;
              border-bottom: none;
            }

            &:hover {
              span {
                color: @secondary-blue;
              }
            }

            span {
              float: left;
              color: @secondary-grey;
              transition: color 150ms ease-in;
            }

            .toggler {
              float: right;
            }
          }
        }
      }
    }

    .tab-content-wrapper {
      position: fixed;
      right: 15px;
      width: ~"calc(100% - 265px)";
      height: ~"calc(100% - 329px)";
      z-index: 1;

      .tab-content {
        z-index: 1;
        position: fixed;
        margin: -1px 0 0 0;
        width: ~"calc(100% - 265px)";
        height: ~"calc(100% - 356px)";
        padding: 0;
        background: white;
        border-radius: 2px;
        border: 1px solid darken(@lite-grey, 5%);

        .agency-tabbed-wrapper {
          .tab-content {
            position: fixed;
            right: 15px;
            width: ~"calc(100% - 477px)";
            height: ~"calc(100% - 356px)";
            padding: 15px;
            border-left: none;
            overflow-y: scroll;
          }
        }
      }
    }
  }