@import   "vars.less";

button {
  cursor: pointer;
}

.btn {
  border-radius: 2px;
  font-size: 13px;
  transition: background 200ms ease-in;

  i {
    &.left {
      margin: 0 5px 0 0;
    }

    &.right {
      margin: 0 0 0 5px;
    }
  }
}

.btn-add,
.btn-save {
  background: @base-green;
  color: white;

  &:hover {
    background: darken(@base-green, 3%);
  }
}

.btn-cancel {
  display: block;
  background: @base-red;
  color: white;

  &:hover {
    background: darken(@base-red, 10%);
  }
}

.btn-view {
  margin: 7px 0 0 0;
  display: block;
  background: @base-blue;
  color: white;

  &:hover {
    background: darken(@base-blue, 10%);
  }
}

.btn-upload {
  display: block;
  margin: 0 auto;
  background: @base-blue;
  color: white;

  &:hover {
    background: darken(@base-blue, 10%);
  }
}