@import   "vars.less";

nav {
  &.navbar {
    background: white;

    .navbar-brand {
      height: 40px;

      img {
        width: 140px;
        margin: -6px 0 0 0;
        vertical-align: middle;
      }
    }

    .navbar-toggler {
      cursor: pointer;
      color: rgba(0,0,0,.5);
      border-color: 1px solid @lite-grey;

      &.collapsed {
        .navbar-toggler-icon {
          svg {
            path {
              stroke: @strong-grey;
            }
          }
        }
      }

      .navbar-toggler-icon {
        svg {
          path {
            stroke: @bright-blue;
          }
        }
      }

      &:hover {
        .navbar-toggler-icon {
          svg {
            path {
              stroke: @bright-blue;
            }
          }
        }
      }
    }

    .navbar-nav {

      a {
        color: @secondary-grey;

        &:hover {
          color: darken(@secondary-grey, 10%);
        }
      }
    }
  }
}