@import   "vars.less";

@media (max-width: 575px) {
  .overview-title {
    margin: 0 0 5px 0;
  }

  .overview-header{
    padding: 15px;

    .logo-group {
      float: none;
      margin: 0;

      .logo {
        max-width: 100%;
        width: 175px;
        margin: 0 0 5px 0;
      }
    }

    h1 {
      margin: 0 0 5px 0;
    }

    ul {
      li {
        font-size: 12px;
        margin: 0;
      }
    }
  }

  .agency-cells-wrapper {
    top: 230px;

    .filter-wrapper {
      margin: 5px 0;
      float: none;

      .input-group {
        float: none;
        width: 100%;
        margin: 0 0 15px 0;
      }
    }

    .btn-add {
      margin: -30px 0 15px 0;
    }

    .scroll-wrapper {
      .agency-cell {
        ul {
          li {
            display: block;
            margin: 5px 0 0 0;
          }
        }
      }
    }
  }
} // END max-width: 575px

@media (min-width: 576px) and (max-width: 767px) {
  .overview-title {
    margin: 0 0 5px 0;
  }

  .overview-header{
    padding: 15px;

    .logo-group {
      float: none;
      margin: 0;

      .logo {
        max-width: 100%;
        width: 175px;
        margin: 0 0 5px 0;
      }
    }

    h1 {
      margin: 0 0 5px 0;
    }

    ul {
      li {
        font-size: 12px;
        margin: 0;
      }
    }
  }

  .agency-cells-wrapper {
    top: 230px;

    .filter-wrapper {
      margin: 5px 0;
      float: none;

      .input-group {
        float: none;
        width: 100%;
        margin: 0 0 15px 0;
      }
    }

    .btn-add {
      margin: -30px 0 15px 0;
    }

    .scroll-wrapper {
      .agency-cell {
        ul {
          li {
            display: block;
            margin: 5px 0 0 0;
          }
        }
      }
    }
  }
} // END (min-width: 576px) and (max-width: 767px)

@media (min-width: 768px) and (max-width: 991px) {
  .overview-title {
    margin: 0 0 5px 0;
  }

  .overview-header{
    padding: 15px;

    .logo-group {
      float: none;
      margin: 0;

      .logo {
        max-width: 100%;
        width: 175px;
        margin: 0 0 5px 0;
      }
    }

    h1 {
      margin: 0 0 5px 0;
    }

    ul {
      li {
        font-size: 12px;
      }
    }
  }

  .agency-cells-wrapper {
    top: 230px;

    .filter-wrapper {
      margin: 5px 0;
      float: none;

      .input-group {
        float: none;
        width: 100%;
        margin: 0 0 15px 0;
      }
    }

    .btn-add {
      margin: -30px 0 15px 0;
    }

    .scroll-wrapper {
      .agency-cell {
        ul {
          li {
            display: block;
            margin: 5px 0 0 0;
          }
        }
      }
    }
  }
} // END (min-width: 768px) and (max-width: 991px)

@media (min-width: 992px) and (max-width: 1199px) {

} // END (min-width: 992px) and (max-width: 1199px)

@media (min-width: 1200px) {

} // END (min-width: 1200px)