.DS_STORE

/dist/
bazel-*
e2e_test.*
node_modules
#bower_components
tools/gulp-tasks/cldr/cldr-data/

pubspec.lock
.c9
.idea/
.settings/
*.swo
modules/.settings
.vscode
modules/.vscode

*secret.js

npm-debug.log
yarn-error.log

.build-analytics

/modules/rollup-test/dist/