button {
  cursor: pointer;
}
.btn {
  border-radius: 2px;
  font-size: 13px;
  transition: background 200ms ease-in;
}
.btn i.left {
  margin: 0 5px 0 0;
}
.btn i.right {
  margin: 0 0 0 5px;
}
.btn-add,
.btn-save {
  background: #08B46E;
  color: white;
}
.btn-add:hover,
.btn-save:hover {
  background: #07a565;
}
.btn-cancel {
  display: block;
  background: #d9534f;
  color: white;
}
.btn-cancel:hover {
  background: #c9302c;
}
.btn-view {
  margin: 7px 0 0 0;
  display: block;
  background: #3B5763;
  color: white;
}
.btn-view:hover {
  background: #274753;
}
.btn-upload {
  display: block;
  margin: 0 auto;
  background: #007bff;
  color: white;
}
.btn-upload:hover {
  background: #0076f5;
}
