<div class="row">
  <div class="col-md-7">

    <div class="form-group">
      <label>State</label>
      <select>
        <option selected>Select state</option>
        <option value="{{state}}" ng-repeat="state in usStates">{{state}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Exam Required</label>
      yes / no
    </div>

    <div class="form-group">
      <label>License Class</label>
      <select>
        <option selected>Select License Class</option>
        <option value="{{license.class}}" ng-repeat="license in agencyLicenses | unique: 'class'">{{license.class}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Line of Authority</label>
      <select>
        <option selected>Select LOA</option>
        <option value="{{license.loa}}" ng-repeat="license in agencyLicenses | unique: 'loa'">{{license.loa}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Issue Date</label>
      <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="issueDate" />
    </div>

    <div class="form-group">
      <label>Expiration Date</label>
      <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="expirationDate" />
    </div>
  </div>

  <div class="col-md-5">
    <div class="drag-n-drop-wrapper">
      <i class="fa fa-file-text-o pdf-icon" aria-hidden="true"></i>
      <label>Upload License PDF</label>
      <small>Drag &amp; Drop PDF License copy here.</small>
    </div>

    <button type="button" class="btn btn-upload">
      <i class="fa fa-upload left" aria-hidden="true"></i>
      Choose File
    </button>

    <div class="progress-wrapper">
      <div class="upload-status success clearfix">
        <i class="fa fa-file-text-o pdf-icon pull-left" aria-hidden="true"></i>
        <small><strong>Success:</strong> license-pdf.pdf</small>
        <div class="progress pull-left">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; height: 2px;"></div>
        </div>
        <i class="fa fa-check-circle-o status-icon success" aria-hidden="true"></i>
      </div>

      <div class="upload-status success clearfix">
        <i class="fa fa-file-text-o pdf-icon pull-left" aria-hidden="true"></i>
        <small><strong>Uploading:</strong> license-pdf.pdf</small>
        <div class="progress pull-left">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%; height: 2px;"></div>
        </div>
        <i class="fa fa-spinner fa-spin status-icon uploading" aria-hidden="true"></i>
      </div>

      <div class="upload-status success clearfix">
        <i class="fa fa-file-text-o pdf-icon pull-left" aria-hidden="true"></i>
        <small><strong>Error:</strong> Invalid File Format</small>
        <div class="progress pull-left">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 5%; height: 2px;"></div>
        </div>
        <i class="fa fa-times status-icon error" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>