<div class="agency-cell" ng-repeat="agency in carrierAgencies | filter:agencySearch | orderBy:propertyName:reverse">
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-4 name-wrapper">
          <span class="overview-title">Agency</span>
          <h1>{{agency.agencyName}}</h1>
        </div>

        <div class="col-md-8 meta-wrapper">
          <span class="overview-title">Information</span>
          <ul class="bottom-row">
            <li><strong>Contact:</strong> {{agency.contact}}</li>
            <li><strong>HQ:</strong> {{agency.headquarters.city}}, {{agency.headquarters.stateAbbr}}</li>
            <li><strong>Est:</strong> {{agency.established}}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <a href="/agency" class="btn btn-view">View<i class="fa fa-angle-right right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>