<div class="agency-tabbed-wrapper license clearfix">
  <div class="button-wrapper sml license-select">
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select State
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" ng-repeat="state in usStates">{{state}}</a>
      </div>
    </div>
  </div>

  <uib-tabset active="activePill" vertical="true" type="pills">
    <uib-tab index="$index + 1" ng-repeat="state in usStates">
    <uib-tab-heading> {{state}} <i class='fa fa-angle-right pull-right'></i> </uib-tab-heading>
      <p>Licenses applicable in <strong>{{state}}</strong>.</p>
      <table class="table table-fixed table-sm table-striped table-responsive">
        <thead>
          <tr>
            <th>Exam</th>
            <th>Class</th>
            <th>LOA</th>
            <th>Issued</th>
            <th>Expires</th>
            <th>PDF</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="license in agencyLicenses">
            <td><i class="fa exam" ng-class="{'fa-check': license.exam == true}" aria-hidden="true"></i></td>
            <td>{{license.class}}</td>
            <td>{{license.loa}}</td>
            <td>{{license.issued}}</td>
            <td>{{license.expires}}</td>
            <td><a href="{{license.pdf}}">View</a></td>
            <td>
              <i class="fa fa-times remove" aria-hidden="true" title="remove"></i>
              <i class="fa fa-pencil-square-o edit" aria-hidden="true" title="edit"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </uib-tab>
  </uib-tabset>
</div>