<div class="agency-tabbed-wrapper agents clearfix">
  <div class="button-wrapper sml agents-select">
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Agent
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" ng-repeat="agent in agencyAgents">{{agent.name}} {{agent.surname}}</a>
      </div>
    </div>
  </div>

  <div class="input-group agent-search">
    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
    <input type="text"
           class="form-control"
           placeholder="Search Agent"
           aria-label="Username"
           aria-describedby="basic-addon1"
           ng-model="searchAgents">
  </div>

  <uib-tabset active="activePill" vertical="true" type="pills">
    <uib-tab index="$index + 1" ng-repeat="agent in agencyAgents | filter:searchAgents" ng-click="cancelAddAgentLicense()">
    <uib-tab-heading>
      <img ng-src="{{agent.photo}}" class="profile-img">
      <div class="profile-meta">
        <span class="name">{{agent.name}} {{agent.surname}}</span>
      </div>
      <i class="fa fa-angle-right agent pull-right"></i>
    </uib-tab-heading>

    <form>
      <div class="row">
        <div class="form-agent-header">
          <div class="col-md-12">
            <span class="agent-details pull-left">Agent Details | <span class="license-status valid"><i class="fa fa-check" aria-hidden="true"></i> Licenses Valid</span></span>
            <span class="last-update pull-right">Last Update: 08/08/2017</span>
          </div>
        </div>
      </div>

      <div class="row form-agent-body">
        <div class="col-md-2">
          <img ng-src="{{agent.photo}}" class="profile-img">
        </div>

        <div class="col-md-10">
          <h1>{{agent.name}} {{agent.surname}}</h1>
          <small class="state-licensed" ng-if="!addingLicense">Licensed in <strong>five</strong> states.</small>
          <small class="state-licensed" ng-if="addingLicense">Add agent License.</small>

          <div ng-include="addAgentLicenseTmpl" ng-if="addingLicense"></div>
          <div ng-if="!addingLicense">
            <div class="row">
              <div class="col-md-6 form-group">
                <label class="form-control-label" for="formGroupExampleInput">First Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput" ng-model="agent.name" placeholder="First Name">
              </div>

              <div class="col-md-6 form-group">
                <label class="form-control-label" for="formGroupExampleInput">Last Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput" ng-model="agent.surname" placeholder="Last Name">
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 form-group">
                <label for="exampleInputEmail1">Agent Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" ng-model="agent.email" placeholder="Email">
              </div>

              <div class="col-md-6 form-group">
                <label class="form-control-label" for="formGroupExampleInput">Agent Phone</label>
                <input class="input-phone form-control" type="text" phone-input ng-model="agent.phone" placeholder="Agent Phone"/>
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label" for="formGroupExampleInput">Agent Location</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Agent Location" value="Bloomington, IN">
            </div>
          </div>

          <div ng-if="addingLicense">
            <div class="row button-wrapper sml">
              <div class="col-md-12">
                <a href ng-click="cancelAddAgentLicense()" class="btn btn-add">
                  <i class="fa fa-check left" aria-hidden="true"></i>
                  Save
                </a>

                <a href ng-click="cancelAddAgentLicense()" class="btn btn-cancel">
                  <i class="fa fa-times left" aria-hidden="true"></i>
                  Cancel
                </a>
              </div>
            </div>
            <div ng-include="'views/add-license.html'"></div>
          </div>


          <div class="row button-wrapper sml" ng-if="!addingLicense">
            <div class="col-md-12">
              <div class="dropdown">
                <a href ng-click="addAgentLicense()" class="btn btn-add">
                  <i class="fa fa-plus left" aria-hidden="true"></i>
                  Add License
                </a>

                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  License per state
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Florida</a>
                  <a class="dropdown-item" href="#">Indiana</a>
                  <a class="dropdown-item" href="#">Kentucky</a>
                  <a class="dropdown-item" href="#">Nevada</a>
                </div>
              </div>
            </div>
          </div>

          <table class="table table-fixed table-sm table-striped table-responsive" ng-if="!addingLicense">
            <thead>
              <tr>
                <th>Exam</th>
                <th>Class</th>
                <th>LOA</th>
                <th>Issued</th>
                <th>Expires</th>
                <th>PDF</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="license in agencyLicenses">
                <td><i class="fa exam" ng-class="{'fa-check': license.exam == true}" aria-hidden="true"></i></td>
                <td>{{license.class}}</td>
                <td>{{license.loa}}</td>
                <td>{{license.issued}}</td>
                <td>{{license.expires}}</td>
                <td><a href="{{license.pdf}}">View</a></td>
                <td>
                  <i class="fa fa-times remove" aria-hidden="true" title="remove"></i>
                  <i class="fa fa-pencil-square-o edit" aria-hidden="true" title="edit"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
    </uib-tab>
  </uib-tabset>
</div>